modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BAkdqH3vKr6IRMJbS-b9RUoBJd-b5mGFaene63u6Rhk0jg7D4DYBBmz8rOtIuypTvV68xtsQPK_mw4UtLPLW-38"
VAPID_PRIVATE_KEY = "2FSFoRz58XEYwXpa_zhwttNRbxMDn_7tGRl6IImJEkI"
VAPID_SUBJECT = "mailto:admin@29jewellery.com"
